[user]
	name = shaon
	email = wh211212@gmail.com
[color]  
        ui = true
        status = auto
        branch = auto
[alias]  
        co = checkout
        ci = commit
        br = branch
        st = status
        unstage = reset HEAD
        last = log -1
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]   
        editor = vim 